/* Surpress errors that do not make it to console. */
#webpack-dev-server-client-overlay {
    display: none !important;
}

.flex {
    display: flex;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.root_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* padding: 30px 15vw; */
    transition: transform 0.3s ease-in-out;
    animation: fade-in 0.5s ease-in-out;
    overflow-x: hidden;
    
    /* background-color: #181818;
    color: #ffffff; */
}

.MuiMasonry-root {
    width: calc(100% - 0) !important;
    max-width: 1400px;
}


@media only screen and (max-width: 90em) {
    .root_control-panel {
        width: 100% !important;
        flex-direction: column;
    }
}

@media only screen and (max-width: 80em) {
    .root_container {
        padding: 30px;
    }

    .MuiMasonry-root {
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 40em) {
    .root_container {
        padding: 5px 5px;
    }

}


.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    animation: fade-in 0.5s ease-in-out;
}

.dialog_box p,
.MuiDialogTitle-root
{
    color: inherit;
}


button {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    /* Add any additional styles as needed */
}

button * {
    text-align: unset;
}

.merchant {
    display: flex;
    height: fit-content;
    text-decoration: none !important;
    /* box-shadow: rgba(100, 100, 111, 0.0) 0px 7px 29px 0px; */
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease-in-out !important;
    border-radius: 0px;
    overflow: hidden;
    animation: fade-in 1s ease-in-out;
    transition: 0.5s ease-in-out;
}

.merchant.white {
    border: 1px solid #b4b4b4;
}

.merchant:not(.merchant-exit) {
    opacity: 1;
}

.merchant.merchant-exit {
    opacity: 0;
}



.merchant:hover {
    /* box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px; */
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease-in-out !important;
}

.merchant_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* margin-bottom: 45px; */
    cursor: pointer;
}



.merchant_container * {
    color: inherit;
    text-align: left;
}


.merchant__head,
.merchant__content {
    display: flex;
    width: 100%;
    height: fit-content;
}

.merchant__head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.merchant__head.image {
    height: 200px;
}


.merchant__content {
    flex-direction: column;
    padding: 45px;
}


.merchant__content>.normal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.merchant__content .seal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.merchant_drawer .seal {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
}

.merchant__content .seal_icon {
    width: 25%;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.merchant_drawer .seal_icon {
    width: 25%;
    max-width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.merchant__content .seal_info,
.merchant_drawer .seal_info {
    width: 70%;
}

.merchant__wordmark {
    width: 100%;
    height: 70px;
    margin-bottom: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.merchant_drawer .merchant__wordmark {
    height: 100px;
    max-width: 500px;
    margin-bottom: 20px;
    background-position: center center;
}

.merchant .title {
    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 800;
}

.merchant .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    padding: 10px 0 0 0;
    font-size: 0.9rem;
}


.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 32px;
    height: fit-content;
    width: fit-content;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    /* text-transform: uppercase; */
}


.disclaimer {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
}


.merchant__foot {
    padding-top: 25px;
}


/* Control Panel */

.root_control-panel p.description {
    margin-top: -5px;
    font-size: 0.8rem;
}

.root_control-panel h6 {
    font-size: 1rem;
}

/* Dropdown */

.dropdown {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 50px;
    align-items: center;
    font-family: 'Source Sans Pro';
    margin: 0 15px 0 0;
    border-radius: 100vh;
}

.dropdown-icon {
    width: 40px;
    height: 40px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown-label {
    margin-right: 10px;
    margin-bottom: 0;
}


.dropdown-toggle {
    background-image: none;
    background-color: #ffffff;
    border-radius: 100vh;
    text-transform: uppercase;
    font-weight: 700;
}


.hide {
    display: none !important;
}

.chip_container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.chip_container>div,
.chip_container>div {
    margin: 0 5px 5px 0 !important;
}

.root_control-quickclear .chip_container>*:first-child {
    margin-right: 10px;
}




.root_control-panel h6 {
    margin-bottom: 10px;
}

.merchant_expanded button {
    position: absolute;
    margin-right: -80px;
    margin-top: -80px;
    background-color: #ffffff;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.merchant_expanded button:hover {
    background-color: #ffffff;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}



/* Dark Mode */
.root_container.dark {
    background-color: #181818;
    color: #ffffff;
}

.root_container.dark .root_control-panel {
    background-color: #181818;
    color: #ffffff;
}

.root_container.dark .root_control-panel h6 {
    color: #ffffff;
}



/* Drawer */
.merchant_drawer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: calc(100vh + 36px);
}

.merchant_drawer>.merchant__logoarea {
    padding: 60px;
}

.merchant_drawer * {
    color: inherit;
}



.merchant_drawer.icon_white path {
    fill: white;
}

.merchant_drawer.icon_dark path {
    fill: #000000;
}

.merchant_drawer .flicking_panel path {
    fill: inherit !important;
}

.merchant_drawer>div .description {
    display: none !important;
}

.merchant_drawer .MuiTabs-root button {
    font-weight: 700;
}


.merchant_drawer.icon_white .MuiTabs-root button {
    color: #ffffff;
}

.merchant_drawer.icon_white .MuiTabs-root .MuiTabs-indicator {
    background-color: #ffffff;
}

.merchant_drawer.icon_dark .MuiTabs-root button {
    color: #000000;
}

.merchant_drawer.icon_dark .MuiTabs-root .MuiTabs-indicator {
    background-color: #000000;
}


.classPanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 45px !important;
    width: 100%;
}

.classPanel[hidden] {
    display: none;
}

.classPanel .merchant_drawer__content:not(:last-child) {
    overflow: hidden;
}

.classPanel p {
    font-family: 'Source Sans Pro' !important;
    font-size: 1rem;
}


@media only screen and (max-width: 40em) {
    .merchant_drawer .seal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .merchant_drawer>.merchant__logoarea {
        padding: 45px 45px;
    }

    .classPanel {
        flex-direction: column;
        padding: 30px !important;
        width: 100%;
    }



    .classPanel .merchant_drawer__content:not(:last-child) {
        margin-right: 0px !important;
    }

    .merchant_drawer .seal_info * {
        text-align: center;
        margin: 0;
    }

    .merchant_drawer .seal_info {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .merchant_drawer .seal_info .title {
        width: 80%;
        font-size: 1.25rem;
        font-family: 'Source Sans Pro';
        font-weight: 800;
    }

    .merchant_drawer .seal_icon {
        margin: 0;
        margin-bottom: 30px;
        height: 100px;
        background-size: contain;
        width: 60%;
    }

    .merchant_drawer .merchant__wordmark {
        background-position: center;
    }

    .root_container .MuiFormGroup-root:not(:last-child) {
        margin-bottom: 20px;
    }
}

.merchant_drawer .title {
    font-family: 'Source Sans Pro';
    font-weight: 800;
}

.merchant_drawer .merchant__wordmark {
    margin-bottom: 0px;
}

.MuiInputBase-root {
    margin-bottom: 15px;
}


.print_friendly {
    box-shadow: none;
    margin-bottom: 10px;
}

.print_friendly:hover {
    box-shadow: none;
}

/* Flicking */
.flicking-viewport {
    width: 100%;
}

.flicking-camera {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

.flicking_panel {
    width: 300px;
    height: fit-content;
    padding: 30px;
    margin: 0 10px 10px 0;
    /* border-radius: 5px; */
}




/* Remove Chrome blue filter for clicks */
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


/* Header */
.root_control-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    margin-bottom: 16px;
    margin-top: 15px;
}

.root_control-header > * {
    margin: 0 0 16px 0 !important;
}

.root_control-top {
    display: flex;
    width: fit-content;
    border: 1px solid #3d3d3d;
    border-radius: 100vh;
    padding: 5px;
    margin-bottom: 10px;
}

.root_control-quickclear {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    /* max-width: 300px; */
}


.MuiDialog-container {
    width: 100%;
}

.MuiDialog-root .MuiPaper-root {
    min-width: 30vw;
}

.MuiDialog-root .chip_container {
    width: 100%;
}

.MuiDialog-root p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.MuiDialog-root h2 {
    font-weight: 700;
}


@media only screen and (max-width: 40em) {
    .flicking_panel {
        width: 70vw !important;
    }

    .MuiDialog-root .MuiDialogContent-root {
        width: 100%;
        padding: 15px;
        overflow-x: hidden;
    }

    .root_control-header {
        padding: 0 15px;
    }
}


.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 60px 0;
}

.footer_container .footer_container__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.footer_container p {
    text-align: center;
    color: #b4b4b4;
    font-size: 1rem;
}

.merchant__foot_content {
    display: flex;
}

.merchant__foot_content>*:not(:last-child) {
    margin-right: 5px;
}

.edit_merchant_button button {
    color: inherit;
}




.merchant .MuiButtonBase-root {
    color: inherit !important;
    z-index: 10;
}

.merchant .chip.status {
    border: 3px solid;
}


/* Timelines */
.MuiTimeline-root {
    margin-top: 0 !important;
    margin-bottom: -30px;
}


/* .MuiTimelineItem-root::before {
    display: none;
} */


.merchant_drawer.icon_white .MuiTimelineDot-root,
.merchant_drawer.icon_white .MuiTimelineConnector-root {
    background-color: #ffffff !important;
    opacity: 0.6;
}

.merchant_drawer.icon_dark .MuiTimelineDot-root,
.merchant_drawer.icon_dark .MuiTimelineConnector-root {
    background-color: #000000 !important;
    opacity: 0.6;
}

.merchant_drawer.icon_white .MuiTimelineDot-outlined {
    background-color: transparent !important;
    border-color: #ffffff !important;
}

.merchant_drawer.icon_dark .MuiTimelineDot-outlined {
    background-color: transparent !important;
    border-color: #000000 !important;
}

.merchant_drawer.icon_white .MuiTimelineOppositeContent-root {
    color: #ffffff !important;
    font-weight: 700 !important;
}

.merchant_drawer.icon_dark .MuiTimelineOppositeContent-root {
    color: #000000 !important;
    font-weight: 700 !important;
}

.MuiAlertTitle-root {
    font-weight: 700 !important;
}

.MuiAlert-icon path {
    fill: unset !important;
}


.merchant_drawer__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.merchant_drawer .MuiTabPanel-root > *:not(:last-child) {
    margin-bottom: 30px;
}

/* .merchant_drawer__content:not(:last-child) {
    margin-bottom: 60px;
} */

.merchant_drawer__content h6 {
    margin-bottom: 5px;
}

.merchant_drawer__content .MuiAlert-standard {
    margin: 15px 0;
}

.merchant_drawer__content>.hours_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: 5px 0;
    padding: 15px 0; */
}


.MuiButton-root.MuiButton-root {
    margin-top: 15px;
    font-weight: 700;
}

/* CALENDAR */
.merchant_drawer__content.calendar {
    align-items: center;
}

.MuiDateCalendar-root {
    margin: 0 !important;
    padding: 0 !important;
}

.MuiDayCalendar-weekDayLabel {
    color: inherit !important;
}

.merchant_drawer.icon_white .css-ouu4eu-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: #ffffff !important;
}

.merchant_drawer.icon_white .MuiDateCalendar-root .Mui-selected {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.merchant_drawer.icon_dark .css-ouu4eu-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: #000000 !important;
}

.merchant_drawer.icon_dark .MuiDateCalendar-root .Mui-selected {
    background-color: #000000 !important;
    color: #ffffff !important;
}


.MuiButton-startIcon path {
    fill: inherit !important;
}


.edit_actions {
    margin-top: 15px;
}


.MuiAlert-standardWarning button {
    margin-top: 5px;
    font-weight: 700;
}


.MuiDataGrid-root .MuiDataGrid-cell {
    white-space: normal !important;
    word-wrap: break-word !important;
}

/* 
.merchant_drawer > ul:last-child {
    background-color: #000000 !important;
} */

.venues .flicking_panel {
    border: 2px solid;
}

.venue * {
    color: inherit !important;
}

.venue_title {
    font-size: 1.15rem;
    font-family: 'Source Sans Pro';
    margin-bottom: 5px;
}

.venue_description {
    font-size: 1rem !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.venue_statusMessage {
    font-weight: 700;
    margin-top: 10px;
}


.hours_peek {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    padding: 15px !important;
}

.hours_peek * {
    font-size: 1rem !important;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
}


.chip.status.open.special {
    background-color: #edae02 !important;
    color: #000000 !important;
    border-color: #edae02 !important;
}
.chip.status.closed.special {
    background-color: #edae02 !important;
    color: #000000 !important;
    border-color: #edae02 !important;
}


.main_sidebar_content {
    display: flex;
    flex-direction: column;
    padding: 32px !important;
}

.main_sidebar_content > *:not(:last-child) {
    margin-bottom: 16px;
}



.MuiAccordionDetails-root p {
    font-size: 1rem;
}
.MuiAccordionDetails-root p:not(:last-child) {
    margin-bottom: 16px;
}
.MuiAccordionSummary-content p {
    font-weight: 700;
}